<!---First Div--->  
<div class="jumbotron jumbotron-fluid" style="background-image: url('images/gym-background-home.jpeg'); background-size: cover;">
  <div class="container home-first-container text-center">
    <h1 class="display-3" style="color: white">Welcome to GymSpot!</h1>
  </div>
</div>


<!---Second Div--->
<div class="container">
  <div class="row home-second-div">
    <div class="col-md-6 d-flex flex-column align-items-center justify-content-center">
      <h3 class="display-5">About GymSpot:</h3>
      <p class="my-auto text-justify">Welcome to GymSpot, the ultimate gym franchise! Our expert trainers create customized workout programs tailored to your goals, needs, and preferences. With a variety of classes and activities, state-of-the-art facilities, and modern amenities, we provide a unique and personalized fitness experience. Our focus on mental and emotional health sets us apart, with saunas, hot tubs, and a mini-spa to help you destress. Join the GymSpot family and discover a world of fitness and wellness. As Jhonny Bravo would say, "I am pretty, I am a princess, I can make this gym work!"</p>
    </div>
    <div class="col-md-6 d-flex flex-column align-items-center justify-content-center p-3">
      <img src="images/streak-home-page.png" alt="Streak Home Image" class="img-fluid">
      <p>Streak:</p><p id="weekly_streak" class="mt-3" style="font-size: 1.4rem;">Log in to see streak</p>
    </div>
  </div>
</div>

<!--Third Div- -->
<div class="container">
  <div class="row home-third-div justify-content-center">
    <div class="col-md-6 d-flex flex-column align-items-center justify-content-center home-third-div-item">
      <div class="p-3 border bg-light home-third-div-photo">
      <a class="link-card" href="programs.html">
      <img src="images/buffybears.png" alt="Programs Home Image" class="img-fluid mx-auto d-block">
      <p class="text-link text-center">Check out our Programs!</p>
      </a>
      </div>
    </div>
    <div class="col-md-6 d-flex flex-column align-items-center justify-content-center home-third-div-item">
      <div class="p-3 border bg-light home-third-div-photo">
      <a class="link-card" href="services.html">
      <img src="images/gonnaBeBuffyBear.png" alt="Services Home Image" class="img-fluid mx-auto d-block">
      <p class="text-link text-center">Gym Services!</p>
      </a>
      </div>
    </div>
  </div>
</div>

<!---Fourth Div: Map --->
<div class="container map-container align-items-center">
  <h4 style="margin-bottom: 1rem;">LOCATIONS</h4>
  <div class="row justify-content-center">
    <div id="map"></div>
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d20544.343467277806!2d21.772600831662736!3d38.284777512798485!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x135e4b93708c0825%3A0x7d5f3f7cff7ad600!2zzqjOt8-Dz4TOsc-BzrnOrCDOnyDOk865z47Pgc6zzr_Pgg!5e0!3m2!1sel!2sgr!4v1682355297764!5m2!1sel!2sgr" width="800" height="260" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
  </div>
</div>

{{> footer}}