<!---Programs--->
    {{!-- <script src="programs.js"></script> --}}
    <div class="d-flex title-bg"><h2 class="title">Programs</h2>
    </div>
    <div class="background">
      <div class="container"> 
        <div class="d-flex flex-row justify-content-center flex-wrap pinboard">

        {{#each programs}}
            <div class="col-md-4 d-flex flex-column align-items-center justify-content-center">      
                  <div class="wrap-hover align-items-center justify-content-center">
                      <div class="side-a">
                          <h2> {{this.name}} </h2>   
                      </div>                       
                      <div class="side-b d-flex flex-column card program-card">
                          <h4>
                            {{this.descriptions}}
                            <br><br>Difficulty: {{this.difficulty}}
                            <br>Time Demand: {{this.time}}' per session                        
                          </h4>
                          <button data-toggle="modal" data-target="#sign_up_modal" class="btn btn-primary sign_up_button">Sign up</button>
                      </div>
                  </div>
              </div>
        {{/each}}

        {{!-- <div class="Crossfit col-md-4 d-flex flex-column align-items-center justify-content-center">      
                  <div class="wrap-hover align-items-center justify-content-center">
                      <div class="side-a">
                          <h2>Crossfit</h2>   
                      </div>                       
                      <div class="side-b d-flex flex-column card program-card">
                          <h4>
                            High-intensity functional fitness program that combines strength training, cardio, and gymnastics. Challenging and rewarding. 
                            <br><br>Difficulty: Advanced
                            <br>Time Demand: 60' per session                        
                          </h4>
                          <button data-toggle="modal" data-target="#sign_up_modal" class="btn btn-primary sign_up_button">Sign up</button>
                      </div>
                  </div>
        </div>

        <div class="Kick-boxing col-md-4 d-flex flex-column align-items-center justify-content-center">      
          <div class="wrap-hover">
              <div class="side-a">
                  <h2>Kick-boxing</h2>   
              </div>                       
              <div class="side-b d-flex flex-column card program-card">
                  <h4>
                    High-energy martial arts-based workout that combines cardio, strength training, and coordination. Empowering and fun! 
                    <br><br>Difficulty: Intermediate. 
                    <br>Time Demand: 60' per session.                       
                  </h4>
                  <button data-toggle="modal" data-target="#sign_up_modal" class="btn btn-primary sign_up_button">Sign up</button>
              </div>
          </div>
        </div>

        <div class="Pilates col-md-4 d-flex flex-column align-items-center justify-content-center">      
          <div class="wrap-hover">
              <div class="side-a">
                  <h2>Pilates</h2>   
              </div>                       
              <div class="side-b d-flex flex-column card program-card">
                  <h4>
                    Low-impact workout that focuses on core strength, flexibility, and balance. Improve posture and tone muscles. 
                    <br><br>Difficulty: Beginner.
                    <br>Time Demand: 60' per session                        
                  </h4>
                  <button data-toggle="modal" data-target="#sign_up_modal" class="btn btn-primary sign_up_button">Sign up</button>
              </div>
          </div>
        </div>

        <div class="TRX col-md-4 d-flex flex-column align-items-center justify-content-center">      
          <div class="wrap-hover">
              <div class="side-a">
                  <h2>TRX</h2>   
              </div>                       
              <div class="side-b d-flex flex-column card program-card">
                  <h4>
                    Our TRX program is a high-intensity workout that uses suspension straps to build strength, improve balance, and increase flexibility.
                    <br><br>Difficulty: Intermediate
                    <br>Time Demand: 60' per session                        
                  </h4>
                  <button data-toggle="modal" data-target="#sign_up_modal" class="btn btn-primary sign_up_button">Sign up</button>
              </div>
          </div>
        </div>

        <div class="Zumba col-md-4 d-flex flex-column align-items-center justify-content-center">      
          <div class="wrap-hover">
              <div class="side-a">
                  <h2>Zumba</h2>   
              </div>                       
              <div class="side-b d-flex flex-column card program-card">
                  <h4>
                    Fun dance-based workout with Latin rhythms and cardio to burn calories, improve fitness, and connect with others. 
                    <br><br>Difficulty: Beginner-Intermediate. 
                    <br>Time Demand: 60' per session.                         
                  </h4>
                  <button data-toggle="modal" data-target="#sign_up_modal" class="btn btn-primary sign_up_button">Sign up</button>
              </div>
          </div>
        </div>

      </div>
      </div>
    </div> --}}

{{> footer}}

{{> purchase}}