/*Variables*/

:root {

  --hue: 258;
  --firstcolor: hsl(var(--hue), 72%, 54%);
  --secondcolor: hsl(var(--hue), 72%, 45%);
  --thirdcolor: hsl(var(--hue), 72%, 70%);

  /* 
  --title-color: hsl(var(--hue), 4%, 100%);
  --text-color: hsl(var(--hue), 4%, 85%);
  --text-color-light: hsl(var(--hue), 4%, 55%);*/
}



/*=============== VARIABLES CSS ===============*/
/* :root {

  /*Color mode HSL(hue, saturation, lightness)*/
/*   --hue: 200;
 */
/*

  hsl(220, 72%, 43%);

*//* 

  --firstcolor: hsl(var(--hue), 82%, 53%);   
  --first-color-alt: hsl(var(--hue), 93%, 57%);   
  --first-color-light: hsl(var(--hue), 24%, 66%);
  --first-color-lighten: hsl(var(--hue), 20%, 70%); 
} */  


.body { 
  --hue: 220;
  --firstcolor: hsl(var(--hue), 72%, 54%);
  --secondcolor: hsl(var(--hue), 72%, 45%);
}

body{
  margin: var(--header-height) 0 0 0;
  background-color: var(--body-color);
  color: var(--text-color);
  transition: .4s; /*For animation dark mode*/
}


.dark-theme {
  --hue: 200;
  --firstcolor: hsl(var(--hue), 91%, 34%);
  --secondcolor: hsl(var(--hue), 91%, 20%);
}

 .dark-theme{
  --first-color-dark: hsl(var(--hue), 8%, 20%);
  --title-color: hsl(var(--hue), 4%, 95%);
  --text-color: hsl(var(--hue), 4%, 75%);
  --body-color: hsl(var(--hue), 8%, 12%);
  --container-color: hsl(var(--hue), 8%, 16%);
} 

/*-------------Footer----------------*/
.footer-class {
  background-color: var(--firstcolor);
}

.copyright-class {
  background-color: var(--secondcolor);
}

/*-------Home---------*/

/*First Div*/
@media (min-width: 576px) {
    .jumbotron {
      height: 60vh;
    }
  }
  
  @media (min-width: 768px) {
    .jumbotron {
      height: 70vh;
    }
  }
  
  @media (min-width: 992px) {
    .jumbotron {
      height: 80vh;
    }
  }
  
  @media (min-width: 1200px) {
    .jumbotron {
      height: 90vh;
    }
  }

  .home-first-container {
    height: 500px;
  }

  /*Second Div*/
  .home-second-div {
    padding: 3%;
    margin: 2%;
  }

  /*Third Div*/
  .home-third-div {
    background-color: var(--firstcolor);
    padding: 3%;
    margin: 2%;
    border-radius: 15px;
  }

  .home-third-div-item {
    margin-top: 1%;
    margin-bottom: 1%;
  }

  .form-group {
    border: 1px solid black;
    border-radius: 20px;
    padding: 1rem;
    margin-top: 1rem;
    margin-bottom: 0;
  }

  .home-third-div-photo {
    border-radius: 20px;
  }

  .text-link {
    color: white;
    font-size: 1.5rem;
    background-color: var(--thirdcolor);
    padding-bottom: 1.5rem;
    margin: 0;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    transition: font-size 0.5s ease;
    text-decoration: none;
    padding-bottom: 1.4rem;
    transition: padding-bottom 0.5s ease;
  }

  .text-link:hover{
    color: white;
    text-decoration: none;
    font-size: 2em;
    transition: font-size 0.5s ease;
    padding-bottom: 1.4rem;
    transition: font-size padding-bottom 0.5s ease;
  }

  .link-card{
    text-decoration: none;
  }

  .link-card:hover{
    text-decoration: none;
  }

  

  /*Fourth Div*/
  .map-container {
    background-color: var(--thirdcolor); /*Map Placeholder*/
   /* height: 300px;*/
    padding: 3%;
    color: white;
    text-align: center;
    margin-bottom: 2%;
  }

/*-------------Services-----------------*/

.sub-card {
  color: white; 
}

.sub-card-price {
  background-color: var(--darkcolor);
  text-align: end;
  padding: 0.75rem 1.25rem;
  border-top: 1px solid rgba(0,0,0,.125);
  border-radius: 15px;
  margin-top: 5rem;
}

.other-services {
  margin: 3rem;
}

.other-service-card {
  border-radius: 25px;
}

.other-service-item {
  padding: 3rem;
}

.other-service-text {
  position: absolute;
  bottom: 10px;
  color: var(black);
}

.other-service-btn {
  margin-top: 1rem;
}

/*------------- Programs ----------------*/


.title{
  color: black;
  font-size: 40px;
  font-weight: bold;
  margin: 20px 20px 20px 20px;
}

.title-bg{
  background-color: var(--thirdcolor);
  margin: 0px;
  padding: 0px;
}

.background{
  background-color: rgb(255, 255, 255);
  margin-top: 0px;
  padding: 20px;
} 

.sign_up_button{
  background-color: rgb(255, 255, 255);
  color: black;
  border: 2px solid black;
  border-radius: 5px;
  margin-top: 40px;
}

.program-card{
  border-radius: 20px;    
}

.pinboard{
  background-color: var(--thirdcolor);
  border-radius: 25px;
  margin: 0px 0px 0px 0px;
}

div.wrap-hover {
      position: relative;
      margin: 2em auto;
      width: 13.5em;
      height: 20.5em;
  /*    max-width: 150px;*/
  /*    height: 140px;*/
      overflow: hidden;
      transition: -webkit-transform 1s ease-in;
  }
  
  div.wrap-hover div {
      width: 100%;
      height: 100%;
      position: absolute;
      padding: 1em .25em;
      display: table;
      box-sizing: border-box; /*/ or content-box*/
      -moz-box-sizing: border-box; /*/ or content-box*/
      -webkit-box-sizing: border-box; /*/ or content-box*/
  }
  
  div.wrap-hover .side-a {
    margin-left: 40px;
    margin-top: 40px;
    font-size:10px;
      border: 0.25em solid #294369;
      background-color: #FFFFFF;
      z-index: 5;
      width: vh;
      height: 25vh;
      max-width: 13.5em;
      overflow: hidden;
      -webkit-transition: -webkit-transform 0.4s;
      -moz-transition: -moz-transform 0.4s;
      transition: transform 0.4s;
  }
  
  div.wrap-hover div h2,
  div.wrap-hover div h4 {
      font-size: 1rem;
      display: table-cell;
      vertical-align: middle;
      text-align: center;
      box-sizing: border-box; /* or content-box*/
      -moz-box-sizing: border-box; /*/ or content-box*/
      -webkit-box-sizing: border-box; /*/ or content-box*/
  }
  
  div.wrap-hover .side-b {
      border: .25em solid var(--firstcolor);
      background-color: white;
      color: black;
      z-index: 6;
      width: 13.5em;
      height: 20.5em;
      max-width: 13.5em;
      overflow: hidden;
      opacity: 0;
      -webkit-transform: scale(0.7);
      -moz-transform: scale(0.7);
      -ms-transform: scale(0.7);
      transform: scale(0.7);
      -webkit-backface-visibility: hidden;
      -moz-backface-visibility: hidden;
      backface-visibility: hidden;
      -webkit-transition: -webkit-transform 0.4s, opacity 0.4s;
      -moz-transition: -moz-transform 0.4s, opacity 0.4s;
      transition: transform 0.4s, opacity 0.4s;
  }
  
  
  div.wrap-hover:hover .side-a {
      -webkit-transform: scale(0);
      -moz-transform: scale(0);
      -ms-transform: scale(0);
      transform: scale(0);
  }
  div.wrap-hover:hover .side-b {
      -webkit-transform: scale(1);
      -moz-transform: scale(1);
      -ms-transform: scale(1);
      transform: scale(1);
      opacity: 1;
  }


/*-----NAV Buttons------*/
  .nav-button {
    padding: 2;  /*So that there's a bit of a distance between them!*/ 
    margin-top: 7px;
    background-color:  #f8f9fa;
    color: rgb(135, 135, 135);
    border: none;
  }

.modal-body li{
  margin: 10px 0px 5px 0px;
  list-style: none;
  }

.modal-body input{
  border: 1px solid #7d7d7d;
}

.modal-body button{
  background-color: var(--firstcolor);
  color: white;
  border: none;
  border-radius: 9px;
}

.modal-body h2{
  padding: 0;
}

.modal-body {
  overflow-y: scroll;
  max-height: 500px;
}

.modal-footer button{
  background-color: var(--secondcolor);
  color: white;
  border: none;
  border-radius: 9px;
}

.sign_in{
  margin-top: 15px;
}

/*-----------ADMIN----------*/

@media (min-width: 768px) {
  .form-control {
    max-width: 680px;
  }
}

.admin-btn {
  margin: 1%;
}